@model AdopcionMascotas.Models.Mascota

<h2>@Model.Nombre</h2>

<div class="card" style="width: 22rem; margin:20px;">
    <img src="@Model.Imagen" class="card-img-top" alt="@Model.Nombre" />
    <div class="card-body">
        <h5 class="card-title">@Model.Nombre (@Model.Especie)</h5>
        <p><strong>Edad:</strong> @Model.Edad años</p>
        <p><strong>Estado:</strong> @Model.Estado</p>
        <p><strong>Descripción:</strong> @Model.Descripcion</p>
    </div>
</div>

<a asp-controller="Mascotas" asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
