@model IEnumerable<AdopcionMascotas.Models.Mascota>
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Gestión de Mascotas (Admin)</h2>

<a href="/Admin/Mascotas/Create" class="btn btn-primary">Agregar Mascota</a>


<table class="table">
    <thead>
        <tr>
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Especie</th>
            <th>Edad</th>
            <th>Estado</th>
            <th>Acciones</th> 
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>
                    <img src="@m.Imagen" alt="@m.Nombre" width="100" />
                </td>
                <td>@m.Nombre</td>
                <td>@m.Especie</td>
                <td>@m.Edad</td>
                <td>@m.Estado</td>
                <td>
                    <a href="/Admin/Mascotas/Edit/@m.Id" class="btn btn-sm btn-warning">Editar</a>
                    <a href="/Admin/Mascotas/Delete/@m.Id" class="btn btn-sm btn-danger">Eliminar</a>

                </td>
            </tr>
        }
    </tbody>

</table>
